* {
    margin: 0;
}

body {
    font-family: serif;   
}

a:-webkit-any-link{
    text-decoration:none;
    color: #000;
}

/*--------------------- HEADER STYLE --------------------*/

header {
    width: 100%;
    background-color: bisque;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    height: 50px;
}

header > nav {
    margin-right: 3em;
}

header > nav > ul {
    float:right;
}

header > nav > ul > li {
    list-style: none;
    display: inline-block;
    margin: 0 1em;
}

header > nav > ul > li > a {
    display: block;
    line-height: 50px; 
    font-size: 20px
}

header > nav > ul > li > a:hover {
    color: dimgray;
}

/* ------- Markerar det ämne som användaren är inne på ------- */

header > nav > ul > li > a.selected {
    color: orangered;
}

/* ---------- HEADER LOGO ----------*/

header > nav > #logo {
    display: block;
    height: 50px;
    line-height: 50px;
    float: left;
    width: 5em;
    margin-left: 1em;
    font-size: 40px;
}

header > nav > #logo > a:hover {
    color: darkgrey;
}



/* ------------------ HEADER STYLE ENDS ------------------ */


/*-------------------- SECTION STYLE STARTS ------------------*/


section {
    width: 1024px;
    margin: 0 auto;
    margin-top: 2em;
    min-height: 200px;
    padding-top: 4em;
}

/*---------------- SECTION FRONTPAGE INFOMRATION STYLE STARTS ----------------*/

section > .informationContainer {
    width: 100%;
    height: 100px;
    text-align: center;
}

/*---------------- SECTION FRANTPAGE INFORMATION ENDS -------------------*/


section > .subject-container {
    background-color: aquamarine;
    min-height: 350px;
}

section > .subject-container > .subjectBox {
    background-color: #fff;
    width: 30%;
    float: left;
    margin: 1.0672em;
}

section > .subject-container > .subjectBox > h2 {
    background-color:#000;
    font-size: 30px;
    text-align: center;
    color: #ececec;
}

section > .subject-container > .subjectBox > .borderSurround {
    border: 1.5px solid #000;
    padding: 0.5em 0;
    
}


